<div>
	<%= form_for(:stud, :url=>{:action=>'delete'}) do |f| %>
		<h6>Enter the roll number of the student</h6>
		<p><%= f.text_field(:roll_no)%></p>
		<p><%= submit_tag("Submit")%></p>
	<%end%>
</div>
