<div class='nested-fields'>
    <div class="field">


      <tr>
      <th><%= f.label :branch %></th>
      <td><%= f.text_field :branch %></td>
      <th> <%= link_to_remove_association "remove branch", f %></th>
    </tr>
  
    </div>

  </div>
